	
	
	<div class="pull-left city-name">{{cityName}}</div>
	<div class="pull-right avg-pressure"><span>Average Pressure:</span><span> {{avgPressure}}</span></div>
	<div class="clearfix"></div>
	
	<button type="button" class="btn btn-primary day1 day-button" data-day="day1">{{day1Date}}</button>
	<button type="button" class="btn day2 day-button" data-day="day2">{{day2Date}}</button>
	<button type="button" class="btn day3 day-button" data-day="day3">{{day3Date}}</button>
	<button type="button" class="btn day4 day-button" data-day="day4">{{day4Date}}</button>
	<button type="button" class="btn day5 day-button" data-day="day5">{{day5Date}}</button>
	<button type="button" class="btn day6 day-button" data-day="day6">{{day6Date}}</button>
	<button type="button" class="btn day7 day-button" data-day="day7">{{day7Date}}</button>
	
	<div class="forecast-content">
	
	</div>