    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">{{L.panelhead}}</div>
            <div class="arc-city-search input-group pull-right">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="js-city-search form-control" placeholder="{{L.cityCountry}}">
            </div>
        </div>
		
		<div class="progress progress-striped active">
        	<div class="progress-bar" style="width: 100%">Loading...</div>
        </div>
                
        <div class="panel-body">
            
        </div>
    </div>